body
{
    margin: 0 auto;
    background-color: #DDDDDD !important;
    font-family: 'Inter', sans-serif !important;
}
.all
{
    height: 100vh !important;
}
.container
{
    max-width: 1640px !important;
}
.sekcja1_lewo img
{
    margin-top: 27px;
    width: 243px;
    height: 141px;
}
.button
{
    width: 208px;
    height: 67px;
    line-height: 67px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 9px #00000029;
    border-radius: 15px;
    opacity: 1;
    float:right;
    margin-left: 26px;
    margin-top: 64px;
    text-align: center;
    font-size: 24px;
    color: #2F2F2F;
}
.sekcja2
{
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
}
.button_pink
{
    width: 425px;
    height: 78px;
    line-height: 78px;
    background: #E432A9;
    box-shadow: 10px 12px 10px #00000029;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 63px;
}
.sekcja2_img img
{
    width: 675px;
    height: 405px;
    margin-top: 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button:hover, .button_pink:hover, .login_again:hover, .register_login:hover, .login_success:hover, .add_money:hover
{
    transform: scale(1.04);
    transition: 0.5s;
    cursor:default;
}
.login_error
{
    display: none;
    position: absolute;
    height: 300px;
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #00000029;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.register_error
{
    display: none;
    position: absolute;
    height: 300px;
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #00000029;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.login_again
{
    width: 208px;
    height: 67px;
    line-height: 67px;
    background: #E432A9;
    box-shadow: 0px 10px 9px #00000029;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    margin-top:90px;
}
.register_login
{
    width: 208px;
    height: 67px;
    line-height: 67px;
    background: #E432A9;
    box-shadow: 0px 10px 9px #00000029;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    margin-top:90px;
}

.register-popup
{
    display: none;
    position: absolute;
    height: 600px;
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #00000029;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.login-popup
{
    display: none;
    position: absolute;
    height: 600px;
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #00000029;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.topbar
{
    background-color: #E432A9;
    width: 600px;
    height:42px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    font-weight: 400;
}
.exit-register, .exit-login, .exit-error, .exit-cash, .exit-error-register, .exit_noMoney, .exit_courseBought, .exit-register-success
{
    color:white;
    font-size: 27px;
    width:20px;
    float:right;
    text-align: right;
    margin-right: 10px;
    margin-left: -30px;
}
.exit-register:hover, .exit-login:hover, .exit-error:hover, .exit-register-success:hover, .exit-error-register:hover, .user_panel_addCash:hover, .exit-cash:hover, .exit_noMoney:hover, .exit_courseBought:hover
{
    cursor:pointer;
}
.register-popup img
{
    width: 104px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 21px;
}
.login-popup img
{
    width: 124px;
    height: 72px;
    display: block;
    margin: 0 auto;
    margin-top: 51px;
}
.popup-input
{
    background-color: #F0F0F0;
    border: 2px solid #5D5D5D;
    border-radius: 8px;
    margin-top: 19px;
    text-align: center;
    color: #414141;
    font-size: 16px;
    height: 48px;
}
.submit_button
{
    width: 193px;
    height: 58px;
    background-color: #E432A9;
    box-shadow: 0px 8px 8px #00000029;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    margin-top: 18px;
}
#reg1,#reg4
{
    width: 222px;
}
#reg2
{
    width: 222px;
    margin-left: 15px;
}
#reg3
{
    width: 463px;
}
#reg5
{
    width: 222px;
    margin-left: 15px;
}
#reg6
{
    width: 324px;
}
#reg7
{
    width: 120px;
    margin-left: 15px;
}
#reg8
{
    width: 162px;
}
#reg9
{
    width: 282px;
    margin-left: 15px;
}
#log1
{
    margin-top: 57px;
    width: 322px;
}
#log2
{
    margin-top: 31px;
    width: 322px;
}
#check-terms
{
    margin-top: 15px;
}
#submit_login
{
    margin-top: 62px;
}

/* Validation things */
form input.error
{
    border-color: tomato !important;
}
.form input.success
{
    border-color: green !important;
}
/* Validation things */





/* Panel.php css */
.sekcja1_all2
{
    height: 205px;
    background-color: #A2A2A2;
    margin-bottom: 140px;
}
.sekcja1_all2 img
{
    width: 243px;
    height: 141px;
}
.sekcja1_lewo2
{
    height: 205px;
    line-height: 205px;
}
.sekcja1_prawo2
{
    height: 205px;
}
.menu
{
    margin-top: 42px;
}
.menu_option
{
    float: right;
    margin-right: 67px;
    font-size: 23px;
    color: #262626;
    font-weight: 600;
    margin-left: 50px;
    background-color:transparent;
    border: none;
}
.pink
{
    background-color: #CC36B5;
    height: 10px;
}
.user_panel
{
    width: 391px;
    height: 144px;
    background-color: #FAFAFA;
    box-shadow: 7px 4px 6px #00000029;
    border-radius: 10px;
    position: absolute;
    right: 90px;
    top: 140px;
    text-align: center;
}
#user_panel_name
{
    margin-top: 31px;
    font-size: 22px;
    font-weight: 600;
}
#user_panel_cash
{
    font-size: 21px;
    font-weight: 400;
    margin-top: -5px;
}
#user_panel_addCash
{
    margin-top: -8px;
    color: #267C00;
    font-size: 20px;
    font-weight: 200;
}

.course_list
{
    margin: 0 auto;
    float:none;
    width: 966px;
    height: 174px;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 6px #00000029;
    border-radius: 10px;
    margin-top: 62px;

}
.course_list img
{
    width: 120px;
    height:120px;
    margin-left: 20px;
}
#course_list_title
{
    font-size: 26px;
    font-weight: 600;
    color: #262626;
}
#course_list_price
{
    font-size: 31px;
    font-weight: 600;
    color: #262626;
}
.sekcja2_lewo2
{
    line-height: 174px;
}
.sekcja2_srodek2
{
    line-height: 174px;
}
.sekcja2_prawo2
{
    line-height: 174px;
}
.buy
{
    position: absolute;
    right: -15px;
    bottom: -15px;
    width: 171px;
    height: 67px;
    background: #00791C;
    box-shadow: 6px 4px 6px #00000029;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: 300;
    border: none;
}



#cash_popup
{
    display: none;
    position: absolute;
    height: 300px;
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #00000029;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.cash_input
{
    width: 150px;
    height: 67px;
    line-height: 67px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.cash_submit
{
    width: 208px;
    height: 67px;
    line-height: 67px;
    background: #E432A9;
    box-shadow: 0px 10px 9px #00000029;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    margin-top:40px;
    border: none;
}
#added_cash
{
    display: block;
    position: absolute;
    height: 300px;
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #00000029;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#noMoney_popup
{
    display: none;
    position: absolute;
    height: 300px;
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #00000029;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.add_money
{
    width: 208px;
    height: 67px;
    line-height: 67px;
    background: #E432A9;
    box-shadow: 0px 10px 9px #00000029;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    margin-top:90px;
}
#courseBought_popup
{
    display: none;
    position: absolute;
    height: 300px;
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #00000029;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#courseRadio
{
    display: none;
}

.sekcja2_all2
{
    text-align: center;
}
/* ul and li for navbar */
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
  }

.register_success
{
    display: none;
    position: absolute;
    height: 300px;
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 10px 8px #00000029;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.login_success
{
    width: 208px;
    height: 67px;
    line-height: 67px;
    background: #E432A9;
    box-shadow: 0px 10px 9px #00000029;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    margin-top:90px;
}



@media (max-width: 1199px)
{

    .sekcja1_lewo img
    {
        display: block;
        margin: 0 auto;
        margin-top: 27px;
    }
    .sekcja1_prawo
    {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .button
    {
        margin-left: 13px;
        margin-right: 13px;
    }
    .course_list
    {
        width: 770px;
    }
}
@media (max-width: 820px)
{
    .sekcja2_img img
    {
        width: 405px;
        height: 243px;
    }
    .course_list
    {
        width: 770px;
    }
    .buy
    {
        right: 0px;
    }
}
@media (max-width: 767px)
{
    .sekcja1_all2
    {
        height: 350px;
        text-align: center;
    }
    .sekcja1_lewo2
    {
        line-height: unset;
    }
    .sekcja1_lewo2 img
    {
        width: 121px;
        height: 70px;
        margin-top: 30px;
    }
    .course_list
    {
        width: 470px;
        height: 300px;
    }
    .sekcja2_lewo2
    {
        line-height: unset;
    }
    .sekcja2_srodek2
    {
        line-height: unset;
    }
    .sekcja2_prawo2
    {
        line-height: unset;
    }
    .sekcja2_lewo2 img
    {
        margin-top: 20px;
    }
    .menu
    {
        margin-top: 90px;
    }
    .buy
    {
        bottom: -35px;
        right: 8px;
    }
    .user_panel
    {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

}

@media (max-width: 470px)
{
    .button_pink
    {
        width: 319px;
        font-size: 30px;
    }
    .sekcja2_img img
    {
        width: 324px;
        height: 195px;
    }
    .sekcja2
    {
        font-size: 40px;
    }
    .course_list
    {
        width: 325px;
        height: 400px;
    }
    .buy
    {
        bottom: -80px;
        right: 75px;
    }
    .user_panel
    {
        width: 300px;
    }

}